*{
    box-sizing: border-box;
}

/* BEM */


/* BLOCK */
.social-media{
    background-color: aliceblue;
    list-style: none;
    margin: 50px;
    width: 300px;
    padding: 10px;
    border: 2px solid coral;
    border-radius: 5px;
}

/* ELEMENT */
.social-media__item{
    padding: 3px 10px;
    border: 1px solid coral;
    border-radius: 5px;
    margin: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* MODIFIRES */
.social-media__item--facebook{
    background-color: darkblue;
    color: white;
}

.social-media__item--twitter{
    background-color: cornflowerblue;
}

.social-media__item--instagram{
    background-color: yellow;
}

.social-media__item--youtube{
    background-color: red;
}
/* MODAL BOX */
/* .modal{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__content-box{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    overflow: auto;
} */

/* GRID */
.grid{
    outline: 1px dashed red;
    margin: 50px 10px;
    gap: 20px;
}

.grid__article{
    background-color: tomato;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

/* GRID - using FLEX */

.grid--using-flex{
    display: flex;
    flex-wrap: wrap;
}

.grid__article{
    /* width: calc((100% - 40px) / 3); */
    width: 100%;
}

/* @media screen and (min-width: 580px) {

    .grid__article {
        width: calc((100% - 20px)/2)
        }}

@media screen and (min-width: 768px) {
 
    .grid__article {
        width: calc((100% - 40px)/3)
        }}

@media screen and (min-width: 1024px) {

    .grid__article {
        width: calc((100% - 60px)/4)
        }} 
*/

        /* USING CSS GRID  - używanie flexa tylko na klasie z modyfier*/
.grid--using-cssgrid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 580px) {
    .grid--using-cssgrid{
        grid-template-columns: 1fr 1fr;
    }
}